.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 60px 0 0 80px;
  background-color: #EAEAEA;
}

.hero-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  margin: auto;
  margin-right: 0;
  gap: 60px;
}

.hero-text {
  flex: 0.8;
}

.hero-text h1 {
  font-size: 4.5rem;
  font-weight: 600;
  color: #1A2E40;
  margin-bottom: 15px;
  line-height: 1.1;
}

.hero-text p {
  font-size: 1.4rem;
  color: #212121;
  margin-bottom: 35px;
}

.hero-buttons {
  display: flex;
  gap: 25px;
}

.btn {
  padding: 10px 20px;
  font-size: 1.1rem;
  max-width: 150px;
  max-height: 70px;
  height: 100%;
  font-weight: 600;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 18px;
  transition: all 0.3s ease;
}

.primary-btn {
  background-color: #E42626;
  color: #FFFFFF;
  height: 60px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.primary-btn:hover .arrow-icon-home {
  transform: rotate(45deg);
}

.secondary-btn {
  cursor: pointer;
  background-color: #36CB36;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  height: 60px;
}

.secondary-btn img {
  width: 23px;
}

.hero-image {
  flex: 0.99;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.hero-image::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #3C8CAF;
  mask-image: url('../assets/Icons/background-hero.png');
  mask-repeat: no-repeat;
  mask-position: bottom right;
  mask-size: 100% auto;
  -webkit-mask-image: url('../assets/Icons/background-hero.png');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: bottom right;
  -webkit-mask-size: 100% auto;
  z-index: -1;
}

.hero-image img {
  width: 100%;
  max-width: 1200px;
  height: auto;
  object-fit: contain;
  position: relative;
  z-index: 2;
}


@media (max-width: 768px) {
  .hero{
    margin: 0;
    padding: 0;
  }
  .hero-text{
   padding: 30px;
  }

  .hero-content {
    margin-top: 110px;
    flex-direction: column;
    text-align: left;
    gap: 10px;
  }

  .hero-text h1 {
    font-size: 2.2rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .btn {
    width: 100%;
    max-width: 280px;
    font-size: 1rem;
    padding: 12px 20px;
  }




  .hero-image img {
    max-width: 90vw;
  }
  .hero-image{
    width: 100%;
  }
}
